body {
    margin: 0;
}

.center-text {
    text-align: center;
}

.logo-circle {
    fill: #336;
}

.logo-card-body {
    fill: #fafafa;
}

.logo-card-diamond {
    fill: #f44;
}

.logo-dice-base {
    fill: #2a1;
}

.logo-dice-dot {
    fill: #fff;
}

.logo-card-ace {
    fill: #f44;
}

#content {
    height: 100%;
    width: 100%;
}

#header {
    background-color: #999;
    width: 100%;
    height: 100px;
}

#header_logo {
    display: inline-block;
}

#logo {
    height: 100px;
    width: 100px;
}

#header_title {
    color: #fff;
    font-size: 40px;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-left: 20%;
    text-align: center;
}