.table-section {
    margin: auto;
    min-height: 125px;
}

.dealer-side-div {
    display: inline-block;
    width: 40%;
}

.dealer-card-div {
    display: inline-block;
    margin: -2px;
}

.score-display {
    display: inline-block;
    width: 80px;
    margin: 5px;
    text-align: center;
}

.scoreboard-titles {
    color: #fff;
    font-size: 20px;
}

.scores {
    color: #f44;
    font-size: 30px;
}

.player-card-div {
    display: inline-block;
}

.player-console-btn {
    background-color: #7a7;
    color: #fff;
    display: none;
    font-size: 20px;
    padding: 5px 10px 5px 10px;
    border: 3px solid #000;

}

.player-console-btn:hover {
    background-color: #373;
}

.large-btn {
    font-size: 30px;
    margin-left: 30%;
    padding: 5px 10px 5px 10px;
    border: 3px solid #fff;
    border-radius: 5px;
    align-self: center;
    box-shadow: 3px 3px 3px 3px #000;
}

.yellow-font {
    color: #ff0;
}

#main {
    background-color: #0a0;
    width: 100%;
    height: 100%;
}

#dealer_side {
    padding-top: 20px;
}

#dealer_row {
    width: 70%;
    margin-left: auto;
}

#dealer_score {
    font-size: 30px;
    display: inline-block;
    position: relative;
    top: -50px;
    margin-right: 50px;
}

#dealer_cards {
    margin-left: 70px;
}

#deal_btn {
    background-color: #00f;
    color: #fff;
}

#deal_btn:hover {
    background-color: #00a;
    cursor: pointer;
}

#score_section {
    max-width: 40%;
    display: inline-block;
}

#score_title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    border-bottom: 10px solid #000;
}

#scoreboard {
    background-color: #000;
    width: 300px;
    height: 100px;
    border: 10px groove #aaa;
    border-radius: 5px;
    margin: auto;
}

#game_result {
    font-size: 40px;
    text-align: center;
    display: inline-block;
}

#player_cards {
    display: block;
    max-width: 65%;
    margin-left: auto;
}

#player_running_score {
    font-size: 30px;
    display: inline-block;
    position: relative;
    top: -50px;
    margin-right: 50px;
}

#player_console_btn_wrapper {
    width: 800px;
    text-align: center;
    margin: auto;
}

#restart_btn {
    background-color: #f00;
    color: #fff;
    display: none;
    margin-left: 100px;
}