.table-section {
    margin: auto;
    min-height: 100px;
    width: 100%;
}

.score-display {
    margin: 5px;
    text-align: center;
    flex: 1;
}

.scoreboard-titles {
    color: #fff;
    font-size: 15px;
}

.scores {
    color: #f44;
    font-size: 20px;
}

.player-console-btn {
    background-color: #7a7;
    color: #fff;
    font-size: 20px;
    padding: 5px 10px 5px 10px;
    border: 3px solid #000;
    flex: 1;

}

.player-console-btn:hover {
    background-color: #373;
}

.large-btn {
    font-size: 30px;
    margin-left: 30%;
    padding: 5px 10px 5px 10px;
    border: 3px solid #fff;
    border-radius: 5px;
    align-self: center;
    box-shadow: 3px 3px 3px 3px #000;
}

.yellow-font {
    color: #ff0;
}

#main {
    background-color: #0a0;
    width: 100%;
    height: 100%;
}

#dealer_side {
    padding-top: 10px;
}

#dealer_row {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

#deck {
    flex: 2;
}

#dealer_score {
    font-size: 30px;
    flex: 1;
}

#dealer_cards {
    flex: 5;
    display: flex;
    justify-content: flex-start;
}

#table_center {
    display: flex;
}

#deal_btn {
    background-color: #00f;
    color: #fff;
    flex: 2;
}

#deal_btn:hover {
    background-color: #00a;
    cursor: pointer;
}

#score_section {
    flex: 2;
}

#score_title {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border-bottom: 5px solid #000;
}

#scoreboard {
    background-color: #000;
    border: 5px groove #aaa;
    border-radius: 5px;
    display: flex;
}

#game_result {
    font-size: 20px;
    margin: auto;
    flex: 1;
}

#player_side {
    display: flex;
}

#player_cards {
    flex: 5;
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
}

#player_running_score {
    font-size: 30px;
    flex: 1;
}

#player_console {
    display: flex;
}

#restart_btn {
    background-color: #f00;
    color: #fff;
    display: none;
    margin-left: 100px;
}

@media screen and (min-width: 500px) {
    .table-section {
        min-height: 125px;
    }

    .score-display {
        display: inline-block;
        width: 80px;
        margin: 5px;
        text-align: center;
    }

    .scoreboard-titles {
        color: #fff;
        font-size: 20px;
    }

    .scores {
        color: #f44;
        font-size: 30px;
    }

    #dealer_row {
        overflow-x: visible;
    }

    #score_section {
        max-width: 350px;
        display: inline-block;
    }

    #score_title {
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        border-bottom: 10px solid #000;
    }

    #scoreboard {
        background-color: #000;
        width: 300px;
        height: 100px;
        border: 10px groove #aaa;
        border-radius: 5px;
        margin: auto;
    }

    #player_cards {
        overflow-x: auto;
    }

    #player_running_score {
        text-align: center;
    }
}