.game-link {
    display: inline-block;
    margin: 10px;
}

.icon {
    height: 100px;
    width: 100px;
}

.tictactoe-line {
    stroke: #000;
    stroke-width: 4px;
}

.tictactoe-circle {
    stroke: #00f;
    stroke-width: 3px;
    fill: transparent;
}

.tictactoe-cross {
    stroke: #f00;
    stroke-width: 3px;
}

#blackjack_img {
    display: block;
    position: relative;
}

#ace_hearts {
    display: inline-block;
    position: absolute;
    top: -10px;
}

#jack_spades {
    display: inline-block;
    position: absolute;
    top: -5px;
    left: 10px;
    transform: rotate(15deg);
}

#mastermind_base {
    fill: #48f;
    stroke: #48f;
    stroke-width: 1px;
}

#mastermind-M {
    font-size: 50px;
    font-weight: 800;
    fill: #c60;
}

#red-peg {
    fill: #f00;
}

#purple-peg {
    fill: #a4a;
}

#white-peg {
    fill: #ddd;
}

#orange-peg {
    fill: #f90;
}

#yellow-peg {
    fill: #ff0;
}

#blue-peg {
    fill: #00d;
}

#black-peg {
    fill: #000;
}

#green-peg {
    fill: #0f0;
}

#twenty_img a {
    text-decoration: none;
}

#twenty_image {
    background-color: #fb0;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#twenty_text {
    color: #fff;
    font-size: 30px;
    margin: auto;
}