{% extends "base.html" %}

{% block title %}2048{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/2048.css') }}">{% endblock %}
{% block game %}2048{% endblock %}
{% block content %}
    <div id="main">
        <div id="score">
            <div i="button_wrapper">
                <button id="new_game_btn">New Game</button>
            </div>
            <div id="current_score" class="score-box">
                <div class="score-title">Current Score</div>
                <div id="current_score_number" class="score-number"></div>
            </div>
            <div id="high_score" class="score-box">
                <div class="score-title">High Score</div>
                <div id="high_score_number" class="score-number"></div>
            </div>
        </div>
        <div id="board_wrapper">
            <canvas id="board" width="500" height="500"></canvas>
        </div>
        <div id="directions"></div>
    </div>
{% endblock %}
{% block js %}
    <script src="{{ url_for('static', filename='js/2048.js') }}"></script>{% endblock %}
