{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">{% endblock %}
{% block game %}Home{% endblock %}
{% block content %}
    <div>
        <div class="game-link">
            <div>
                <a href="{{ url_for('tictactoe') }}">
                    <svg viewBox="0 0 100 100" class="icon tictactoe" role="img">
                        <line x1="33" y1="0" x2="33" y2="100" class="tictactoe-line"></line>
                        <line x1="66" y1="0" x2="66" y2="100" class="tictactoe-line"></line>
                        <line x1="0" y1="33" x2="100" y2="33" class="tictactoe-line"></line>
                        <line x1="0" y1="66" x2="100" y2="66" class="tictactoe-line"></line>
                        <circle cx="50" cy="50" r="13" class="tictactoe-circle"></circle>
                        <line x1="3" y1="3" x2="30" y2="30" class="tictactoe-cross"></line>
                        <line x1="30" y1="3" x2="3" y2="30" class="tictactoe-cross"></line>
                        <line x1="3" y1="3" x2="30" y2="30" class="tictactoe-cross"></line>
                        <line x1="69" y1="36" x2="96" y2="63" class="tictactoe-cross"></line>
                        <line x1="96" y1="36" x2="69" y2="63" class="tictactoe-cross"></line>
                    </svg>
                </a>
            </div>
            <div class="center-text">
                <a href="{{ url_for('tictactoe') }}">TicTacToe</a>
            </div>
        </div>
        <div class="game-link">
            <div id="blackjack_img" class="icon">
                <a href="{{ url_for('blackjack') }}">
                    <img id="ace_hearts" src="{{ url_for('static', filename='img/cards/h01.bmp') }}">
                    <img id="jack_spades" src="{{ url_for('static', filename='img/cards/s11.bmp') }}">
                </a>
            </div>
            <div class="center-text">
                <a href="{{ url_for('blackjack') }}">BlackJack</a>
            </div>
        </div>
        <div class="game-link" viewBox="0 0 100 100" role="img">
            <div>
                <a href="{{ url_for('mastermind') }}">
                    <svg class="icon">
                        <path id="mastermind_base" d="M5 25 A20 20 0 0 1 25 5 H75 A20 20 0 0 1 95 25 V75
                        A20 20 0 0 1 75 95 H25 A20 20 0 0 1 5 75 Z"></path>
                        <text id="mastermind-M" x="28" y="65">M</text>
                        <circle id="red-peg" class="mastermind-peg" cx="17" cy="38" r="8"></circle>
                        <circle id="purple-peg" class="mastermind-peg" cx="17" cy="58" r="8"></circle>
                        <circle id="white-peg" class="mastermind-peg" cx="17" cy="78" r="8"></circle>
                        <circle id="orange-peg" class="mastermind-peg" cx="40" cy="78" r="8"></circle>
                        <circle id="yellow-peg" class="mastermind-peg" cx="60" cy="78" r="8"></circle>
                        <circle id="blue-peg" class="mastermind-peg" cx="83" cy="78" r="8"></circle>
                        <circle id="black-peg" class="mastermind-peg" cx="83" cy="58" r="8"></circle>
                        <circle id="green-peg" class="mastermind-peg" cx="83" cy="38" r="8"></circle>
                    </svg>
                </a>
            </div>
            <div class="center-text">
                <a href="{{ url_for('mastermind') }}">MasterMind</a>
            </div>
        </div>
        <!----- Hide 2048
        <div class="game-link">
            <div id="twenty_img" class="icon">
                <a href="{{ url_for('twenty') }}">
                    <div id="twenty_image">
                        <div id="twenty_text">2048</div>
                    </div>
                </a>
            </div>
            <div class="center-text">
                <a href="{{ url_for('twenty') }}">2048</a>
            </div>
        </div>
        ------>
    </div>
{% endblock %}
