{% extends "base.html" %}

{% block title %}Tic-Tac-Toe{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tictactoe.css') }}">{% endblock %}
{% block content %}
    <div id="main">
        <div id="board_section" class="section">
            <div class='wrapper'>
                <button id="restart_btn" class="game-btn">RESTART</button>
            </div>
            <div id='message_wrapper' class='wrapper'>
                <div id='message'></div>
            </div>
            <div id="board_wrapper">
                <canvas id="board" height="300" width="300"></canvas>
            </div>
        </div>
        <div id="score_section" class="section">
            <div id="score_title">YOUR RECORD</div>
            <div id="scoreboard">
                <div id="wins" class="score-display">
                    <div id="wins_title" class="scoreboard-titles">WINS</div>
                    <div id="wins_score" class="scores"></div>
                </div>
                <div id="losses" class="score-display">
                    <div id="losses_title" class="scoreboard-titles">LOSSES</div>
                    <div id="losses_score" class="scores"></div>
                </div>
                <div id="draws" class="score-display">
                    <div id="draws_title" class="scoreboard-titles">DRAWS</div>
                    <div id="draws_score" class="scores"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{{ url_for('static', filename='js/tictactoe.js') }}"></script>{% endblock %}
